<configuration>
<activePackageSource>
  <add key="All" value="(Aggregate source)" />
</activePackageSource>
<packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  <add key="aspnetcidev" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
</packageSources>
<disabledPackageSources />
<configuration>